<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<title>Untitled Document</title>
	</head>

	<!-- Script by hscripts.com -->
	<script type="text/javascript">
	//Edit the counter/limiter value as your wish
	var count = "125";   //Example: var count = "175";
	function old_limiter(){
		var tex = document.myform.comment.value;
		var len = tex.length;
		if (len > count){
      tex = tex.substring(0,count);
      document.myform.comment.value =tex;
      return false;
		}
		document.myform.limit.value = count-len;
	}
	
function limiter(textarea,remain,max) {
	var text = textarea.value;
  var len = text.length;
  if (len > max) {
    text = text.substring(0,max);
    textarea.value = text;
    return false;
  }
  remain.value = max-len;
}
	</script>
	<!-- Script by hscripts.com -->
	
	<body>

	<!-- Script by hscripts.com -->
	<form name="myform" METHOD=POST>
	<textarea name=comment wrap=physical rows=3 cols=40 onkeyup=limiter(this,document.myform.limit,125)></textarea><br>
	<script type="text/javascript">
	  document.write("<input type=text name=limit size=4 readonly value="+count+">");
	</script>
	</form>
	<!-- Script by hscripts.com -->

	</body>
</html>
